body{
   line-height: 2;
}


header, nav{
    margin: 5px 10px 15px 20px;
    padding: 5px 10px 15px 20px;
}

nav{
    text-align: center;
}

nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline;
    padding: 15px;
    background-color: bisque;
    font-size: 1.2em;
    margin: 30px;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: black

}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
}


h1{
   /*Set font and font size*/
    font-size: larger;
    font-family: "Merriweather", "Anton", "Times New Roman", serif;
    margin-top: 10px;
}

h2{
    /*Set font, font size, and alignment*/
    font-size: larger;
    font-family: "Merriweather", "Anton", "Times New Roman", serif;
    text-align: center;
    margin-top: 10px;
}

h3{
    /*Set font size*/
    font-size: larger;
    margin-top: 10px;
}

h1, h2, h3{
    /*Set margin */

}

.grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
    justify-content: space-between;
    border-radius: 30px;
    row-gap: 20px;
}

.grid div{
    /* Set border properties, padding, and background color */
    background-color: white;
    border: 5px solid black;
    border-radius: 30px;
}

.grid img{
    /* Set width, margin, and display */
    width: 90%;
    margin: 0 auto;
    display: block;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
}
    

p + p {
     /* Set indentation */
  }
  
p{
     /* Set margin */
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
}
